*{
    margin: 0;
    padding: 0;
}
body{
    background: cornsilk;
}
header{
    background: lightsalmon;
    height: 55px;
    border-bottom: 1px solid red;
    width: 100%;
    margin-bottom: 20px;
}
h1{
    float: left;
}
span{
    font-size: 18px;
    padding-top: 10px;
    float: right;
}
#menu{
    width: 700px;
    margin: 0 auto;
}